html{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    background-color: rgb(230, 230, 235);
}
main{
    background-image: linear-gradient(to right,rgb(230, 230, 235),rgb(38, 65, 90));
    align-content: center;
}

h1 {
    font-weight: bold;
    color: #0af7c3;
    padding: 10px;
    border-style: solid;
    font-size: 50px; 
    text-align: center;
    background-color: rgb(64, 81, 128);
}
  

.div-principal{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

footer{
    text-align: center;
    background-color: rgb(34, 34, 78);
    color: azure;
    font-weight: bold;
}

div{
    padding: 10px;
}

.boton-carro{
    position: absolute;
  margin-left: 80%;
  margin-top: 0px;
    background-color: rgb(230, 230, 235);
}

.input-busq{
    position: absolute;
  margin-left: 50%;
}

.logo {
    width: 150px;
    padding: 30px;
    position: absolute;
    margin-left: 50px;
    margin-top: 0px;
    }

.carrito{
    background-color: rgb(253, 253, 253);
    width: 60%;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
}

.contador {
    font-weight: bold;
    color: 34, 34, 78;
    padding: 10px;
    border-style: solid;
    font-size: 20px; 
    text-align: center;
    background-color: rgb(230, 230, 235);
    z-index: 999;
    border-radius: 50%;
}

.ubicacionBusqueda {
    position: relative;
    align-content: flex-start;
}